# Python 3.12
mediapipe>=0.10.30,<1
opencv-contrib-python>=4.13,<5
pyvirtualcam>=0.15.0
numpy>=2.0
# los .pkl se guardaron con esta version
scikit-learn==1.8.0
onnxruntime
pygrabber
comtypes
pyinstaller
